body {
  font-size: 100%;
}

header h1 {
float: left;
padding: 10px 0;
margin: 0 30px 0 0;
font-size: 250%;
}

header h1 a:link, h1 a:visited {
color: #000 !important;
}


p#tagline {
padding: 10px 0 0 0;
margin: 0;
color: #888;
font-size: 80%;
}

nav ul {
padding: 10px 0 20px 0;
margin: 0;
font-size: 120%;
border-bottom: dotted 1px #aaa;
}

nav ul li {
display: inline;
}

nav ul li.selected {
font-weight: bold;
}

nav ul li:after {
content: " / ";
color: #ddd;
}

footer {
clear: both;
padding-top: 20px;
color: #888;
font-size: 80%;
}

blockquote {
    background: #fff none repeat scroll 0 0;
    border-left: 10px solid #46e;
    border-right: 2px solid #46e;
    box-shadow: 2px 2px 15px #ccc;
    color: #666;
    display: block;
    line-height: 1.2;
    margin: 0 0 20px; 
    padding: 10px;
    position: relative;
    text-align: justify;
}
blockquote a {
    padding: 0 3px;
}
blockquote p {
    margin: 0;
}
blockquote a:hover {
    color: #666;
}
blockquote em {
    font-style: italic;
}
blockquote.warning {
    border-color: #a00 !important;
}
