<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/bp/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/bp/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />

</head>
<body class="one-col">
<div class="container">

  <header class='span-24'>
    <h1><a href="/" title="RepoForge">RepoForge</a></h1>
    <p id='tagline'>RepoForge is the new name of the RPMForge project.</p>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/use">users</a></li>
        <li><a href="/package">packagers</a></li>
        <li><a href="/faq">faq</a></li>
      </ul>
    </nav>
  </header>

  <section id="content"> 
    {{ content }}
  </section>

  {% include footer.html %}

</div>
</body>
</html>
